html {
  font-size: 10px;
  background: url("./background.jpeg") top no-repeat;
  background-size: 99em;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 1vh;
}

.topkeys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 11.5em 53em 0 0em;
}

.botkeys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 2.3em 54em 0 1em;
}

.key {
  border: 0.4rem solid transparent;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 0.45rem;
  transition: all 0.07s ease;
  width: 7rem;
  height: 3.7rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.2);
}

.f,
.k {
  margin-left: 10px;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
